# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
Host LustreJumper
  HostName 222.200.180.178
  User jinhuama
  # LocalForward 6007 127.0.0.1:6007

Host Lustre182
  HostName 11.11.11.182
  User jinhuama
  LocalForward 8008 127.0.0.1:8008
  ProxyCommand C:\Windows\System32\OpenSSH\ssh.exe -W %h:%p LustreJumper

Host Lustre181
  HostName 11.11.11.181
  User root
  # PSD pami5175
  Port 50007
  LocalForward 8008 127.0.0.1:8008
  ProxyCommand C:\Windows\System32\OpenSSH\ssh.exe -W %h:%p LustreJumper

